name: Docker image CI

on:
    push:
    pull_request:

jobs:
    build_Docker_image:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout the repository
              uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.11"
            - name: Build the Docker image
              run:  docker build . --file Dockerfile --tag neural_network:$(date +%s)
